.blog_content_area{
    display: flex;
    flex-direction: column;
    gap: 20px;

    &--grid {
        display: grid;
        gap: 20px;
        grid-template-columns: repeat(auto-fit, minMax(250px, 1fr));
        justify-items: center;
        padding: 20px;
        max-width: 100%;
        overflow: visible;

        @media (max-width: 768px) {
            grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        }

        @media (max-width: 480px) {
            grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        }
    }

    &--oneWay {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
    }

    &--normal {
        display: flex;
    }

    &--newPost {
        border: 1px solid;
        padding: 5px;
    }
}