.blog_content_area{
    display: flex;
    flex-direction: column;
    gap: 20px;

    &--grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(260px, 1fr)); /* 자동으로 최대 개수 배치 */
        gap: 20px;
        justify-content: center;
        align-content: center;
        padding: 20px;
        max-width: 100%;
        min-width: 0;
        grid-auto-flow: row;
        overflow-x: hidden;
        box-sizing: border-box;

        @media (max-width: 1024px) { 
            &--grid {
                grid-template-columns: repeat(auto-fit, minmax(220px, 1fr)); 
            }
        }
    
        @media (max-width: 768px) { 
            &--grid {
                grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); 
            }
        }
    
        @media (max-width: 480px) { 
            &--grid {
                grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); 
            }
        }
    }

    &--oneWay {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
    }

    &--normal {
        display: flex;
    }

    &--newPost {
        border: 1px solid;
        padding: 5px;
    }
}