.MenuBar {
    display:flex;
    border: 1px solid black;
}

.MenuBarItem {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    width: 100px;
    height: 30px;
}