.MenuBar {
    display:flex;
    flex-direction: row;
    width: 100%;
    justify-content: flex-start;
    overflow-x: auto;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    border: 1px solid black;
    position: fixed;
    top: 0;
    left: 0;
    height: 60px;
    align-items: center;
}

.MenuBar::-webkit-scrollbar {
    display: none;
}


.MenuBarItem {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    width: 100px;
    height: 30px;
}