.postCard {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;

    &__contentArea {
        position: relative;
        width: 600px;
        height: 600px;
        padding: 20px;
        background-color: lightgray;

        &__author {
            font-weight: bold;
            background-color: lightyellow;
            margin-bottom: 15px;
            overflow-x: auto;
        }

        &__title {
            background-color: lightgreen;
            margin-bottom: 15px;
            overflow-x: auto;
        }

        &__imgBox {
            width: 100%;
            height: 65%;
            margin-bottom: 15px;

            &__img {
                width: 100%;
                height: 100%;
                object-fit: fill;
            }
        }

        &__content {
            width: 100%;
            height: 20%;
            overflow-y: auto;
            background-color: rgba(255, 255, 255, 0.5);
        }
    }

    &__replyArea {
        width: 300px;
        height: 600px;
        background-color: lightcoral;
        padding: 20px;

        &__replies {
            width: 93%;
            height: 540px;
            padding: 10px;
            margin-bottom: 15px;
            background-color: rgba(255, 255, 255, 0.9);
            overflow-y: auto;
        }

        &__input {
            width: 90%;
            height: 25px;
            margin-right: 5px;
        }
    }
}